.my-col {
    height: 100vh;
    align-items: center;
}

#title-col {
    display: flex;
    /* padding-left: 100px; */
}

#home-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}